*~
*.cat
*.cat.m
*.gmo
*.lo
*.mo
.*.*.mo
*.msg
*.o
*.old.po
*.pox
*.tab.c
.*.swp
ABOUT-NLS
at-spi-registryd-wrapper.desktop.in
./autom4te.cache
.deps
_libs
.libs
cat-id-tbl.tmp
config.cache
config.h
config.log
config.lt
config.rpath
config.status
config.status.lineno
configure.lineno
gdm.conf
gdm.conf-custom
gdm-display-glue.h
gdm-display-glue.c
gdm-local-display-glue.h
gdm-local-display-glue.c
gdm-local-display-factory-glue.h
gdm-local-display-factory-glue.c
gdm-manager-glue.c
gdm-manager-glue.h
gdm.pot
gdm-restart
gdm-safe-restart
gdm.schemas
gdm-session-glue.h
gdm-session-glue.c
gdm-session-worker-glue.h
gdm-session-worker-glue.c
gdm-static-display-glue.h
gdm-static-display-glue.c
gdm-static-factory-display-glue.h
gdm-stop
gdm-transient-display-glue.h
gdm-transient-display-glue.c
gdm-xdmcp-display-glue.h
gdm-xdmcp-display-glue.c
gdm-xdmcp-chooser-display-glue.h
gdm-xdmcp-greeter-display-glue.h
gdm-greeter-glue.h
gdm-greeter-glue.c
GNOME_FastUserSwitchApplet.server
GNOME_FastUserSwitchApplet.server.in
gnome-power-manager.desktop.in
gnome-settings-daemon.desktop.in
GPATH
GRTAGS
GSYMS
GTAGS
in
Init
.intltool-merge-cache
libgdmcommon.la
libgdmuser.la
libnotificationarea.la
libtool
Makefile
Makefile.in
Makefile.in.in
na-marshal.c
na-marshal.h
PostSession
POTFILES
PreSession
so_locations
stamp-h1
stamp-it
tags
TAGS
Xsession
INSTALL
aclocal.m4
autom4te.cache/
common/test-log
compile
config.guess
config.h.in
config.sub
configure
daemon/gdm
daemon/gdm-session-worker
daemon/gdm-wayland-session
daemon/gdm-x-session
daemon/test-session-client
daemon/test-external-greeter
daemon/gdm-session-enum-types.c
daemon/gdm-session-enum-types.h
data/applications/gnome-mag.desktop
data/applications/gnome-shell.desktop
data/applications/gnome-shell-wayland.desktop
data/applications/gok.desktop
data/applications/orca-screen-reader.desktop
data/autostart/caribou-autostart.desktop
depcomp
libgdm/gdm-client-glue.h
libgdm/gdm-client-glue.c
libgdm/gdm-manager-glue.h
libgdm/gdm-manager-glue.c
gui/simple-chooser/gdm-host-chooser
gui/simple-chooser/gdm-simple-chooser
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
m4/*.m4
missing
mkinstalldirs
tests/m-common
utils/gdmflexiserver
*.gschema.valid
*.gschema.xml
*.la
*.pc
*.gir
*.typelib
*.tar.*
gdm-smartcard-worker
dconf-override-db

docs/*/*.stamp
docs/*/legal.xml
docs/*/index.docbook

po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it

test-driver
