stages:
  - build

build-fedora:
  image: fedora:28
  stage: build
  before_script:
    - dnf -y install
        accountsservice-devel
        audit-libs-devel
        check-devel
        dconf
        desktop-file-utils
        gettext-devel
        gobject-introspection-devel
        gtk3-devel
        iso-codes-devel
        keyutils-libs-devel
        libXau-devel
        libXdmcp-devel
        libattr-devel
        libcanberra-devel
        libdmx-devel
        libselinux-devel
        libtool
        meson
        ninja
        nss-devel
        pam-devel
        plymouth-devel
        redhat-rpm-config
        systemd
        systemd-devel
        which
        xorg-x11-server-Xorg
        xorg-x11-server-devel
        yelp-devel
        yelp-tools

  script:
    - meson . build --prefix=/usr --sysconfdir=/etc --localstatedir=/var --mandir=/usr/share/man --libdir=/usrlib64 -Dpam-prefix=/etc -Drun-dir=/run/gdm -Dudev-dir=/lib/udev/rules.d -Ddefault-path=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin -Dprofiling=true -Dplymouth=enabled -Dselinux=enabled
    - ninja -C build
    - ninja -C build install
    - ninja -C build dist
    - ninja -C build test
  except:
    - tags
