[Desktop Entry]
Name=GDM Configurator
Name[sk]=Nastavenie GDM
Comment=A graphical application for configuring the GNOME Display Manager (GDM)
Comment[sk]=Grafické rozhranie pre nastavenie GNOME Správcu displeja (GDM)
TryExec=gdmconfig
Exec=gdmconfig
Icon=gdm.xpm
Terminal=0
Type=Application
