[Desktop Entry]
Name=GDM Configurator
Name[fr]=Configurateur de GDM
Name[ja]=GDMюъдЙ╔д║╪╔К
Name[no]=GDM konfigurator
Name[sk]=Nastavenie GDM
Name[uk]=Налаштування GDM
Comment=A graphical application for configuring the GNOME Display Manager (GDM)
Comment[fr]=Application graphique de configuration du Gestionnaire d'Affichage GNOME (GDM)
Comment[ja]=GNOME╔г╔ё╔╧╔в╔Л╔╓╔ч╔м║╪╔╦╔Ц╓РюъдЙ╓╧╓К╔╟╔И╔у╔ё╔ц╔╞╔╒╔в╔Й╔╠║╪╔╥╔Г╔С
Comment[no]=En grafisk applikasjon for konfigurasjon av GNOME Display Manager (GDM)
Comment[sk]=GrafickИ rozhranie pre nastavenie GNOME SprАvcu displeja (GDM)
Comment[uk]=Граф╕чна програма для налаштування Менеджера Дисплея GNOME (GDM)
TryExec=gdmconfig
Exec=gdmconfig
Icon=gdm.xpm
Terminal=0
Type=Application
