[Desktop Entry]
Type=Application
Name=Welcome
Exec=sh -c 'rm -f $HOME/.config/run-welcome-tour; epiphany http://www.gnome3.org'
AutostartCondition=if-exists run-welcome-tour
OnlyShowIn=GNOME;
