[Desktop Entry]
Type=Application
Name=Welcome
Exec=bash -c 'epiphany --private-instance http://www.gnome3.org ; rm -f $HOME/.config/run-welcome-tour'
AutostartCondition=if-exists run-welcome-tour
OnlyShowIn=GNOME;
