[Desktop Entry]
Name=Orca Screen Reader
Name[af]=Orca-skermleser
Name[ar]=قارئ الشاشة أوركا
Name[as]=Orca Screen Reader
Name[ast]=Llector de pantalla Orca
Name[be@latin]=Čytańnie nadpisaŭ z ekranu Orca
Name[bn]=Orca পর্দা পাঠক
Name[bn_IN]=Orca পর্দা পাঠ ব্যবস্থা সক্রিয় করা হবে
Name[br]=Lenner skramm Orca
Name[ca]=Lector de pantalla Orca
Name[ca@valencia]=Lector de pantalla Orca
Name[crh]=Orca Ekran Oquyıcısı
Name[da]=Orca-skærmlæseren
Name[el]=Ενεργοποίηση εφαρμογής ανάγνωσης οθόνης Orca
Name[en@shaw]=·𐑪𐑮𐑒𐑩 𐑕𐑒𐑮𐑰𐑯 𐑮𐑰𐑛𐑼
Name[en_GB]=Orca Screen Reader
Name[eo]=Ekranlegilo 'Orko'
Name[et]=Orca ekraanilugeja
Name[eu]=Orca pantaila-irakurlea
Name[fa]=صفحه‌نمایش خوان اورکا
Name[fr]=Lecteur d'écran Orca
Name[fy]=Orca Skermlêzer
Name[ga]=Léitheoir Scáileáin Orca
Name[gu]=Orca સ્ક્રીન વાંચનાર
Name[gv]=Orca lhaihder Fastee
Name[hi]=ओर्का स्क्रीन रीडर
Name[hu]=Orka képernyő-felolvasó
Name[it]=Lettore dello schermo Orca
Name[ja]=Orca スクリーン・リーダ
Name[kk]=Orca Экранды Оқу
Name[kn]=ಓರ್ಕಾ ತೆರೆ ಓದುಗ
Name[ko]=오르카 화면 읽기
Name[mai]=ओर्का स्क्रीन रीडर
Name[mk]=Orca - читач на екран
Name[ml]=ഓര്‍കാ സ്ക്രീന്‍ റീഡര്‍
Name[mr]=Orca पडदा वाचक
Name[nds]=Orca Billschirmleser
Name[nn]=Orca skjermlesar
Name[oc]=Lector d'ecran Orca
Name[or]=Orca ପରଦା ପାଠକ
Name[pl]=Czytnik ekranowy Orca
Name[pt]=Locução de Ecrã Orca
Name[ro]=Cititorul de ecran Orca
Name[sk]=Čítač obrazovky Orca
Name[sq]=Orca - lexuesi i ekranit
Name[ta]=Orca திரை வாசிப்பி
Name[te]=Orca తెరను చదువునది
Name[tr]=Orca Ekran Okuyucu
Name[ug]=Orca ئېكران ئوقۇغۇ
Name[uk]=Зчитувач екрана Orca
Name[vi]=Bộ đọc màn hình Orca
Name[zh_HK]=Orca 螢幕閱讀器
Name[zh_TW]=Orca 螢幕閱讀器
Comment=Present on-screen information as speech or braille
Comment[af]=Bied inligting op die skerm aan as spraak of braille
Comment[ar]=يقدم ما على الشاشة من معلومات منطوقة أو بطريقة برايل
Comment[as]=পৰ্দ্দাৰ তথ্যক বানী বা ব্ৰেইলি আখৰ হিচাপে প্ৰস্তুত কৰক
Comment[ast]=Presentar información en pantalla como voz o Braille
Comment[be@latin]=Pramaŭlaje ci padaje ŭ syhnałach Brailla tekst z ekranu
Comment[bn]=ভাষ্য অথবা ব্রেইলের মাধ্যমে পর্দায় তথ্য উপস্থাপন করা হবে
Comment[bn_IN]=ভাষ্য অথবা ব্রেইলের মাধ্যমে পর্দায় উপস্থিত তথ্য প্রস্তুত করা হবে
Comment[br]=Kinnig an titouroù war ar skramm dre gomzoù pe braille
Comment[ca]=Presenta la informació en pantalla amb un sintetitzador de veu o en Braille
Comment[ca@valencia]=Presenta la informació en pantalla amb un sintetitzador de veu o en Braille
Comment[crh]=Ekran-üstü malümatnı nutuq yaki qabartma yazı olaraq taqdim et
Comment[da]=Presenter information på skærmen som tale eller blindeskrift
Comment[el]=Παρούσα πληροφορία στην οθόνη με μορφή ομιλίας ή braille
Comment[en@shaw]=𐑐𐑮𐑩𐑟𐑧𐑯𐑑 𐑪𐑯-𐑕𐑒𐑮𐑰𐑯 𐑦𐑯𐑓𐑼𐑥𐑱𐑖𐑩𐑯 𐑨𐑟 𐑕𐑐𐑰𐑗 𐑹 𐑚𐑮𐑱𐑤
Comment[en_GB]=Present on-screen information as speech or braille
Comment[eo]=Prezenti surekranajn informojn kiel parolon aŭ brajlon
Comment[et]=Ekraanil olevate andmete esitamine braille kõnena
Comment[eu]=Azaldu pantailako informazioa hitzeginez edo Braille gisa
Comment[fa]=ارائه‌ی اطلاعات روی صفحه‌نمایش به شکل صدا یا بریل
Comment[fr]=Présente les informations de l'écran sous forme vocale ou en braille
Comment[gu]=ઓન-સ્ક્રીન માહિતી બોલવા અથવા બ્રૈલે તરીકે હાજર કરો
Comment[gv]=Fysseree ayn sy fastee myr glare ny screeuyn vraille
Comment[hi]=बतौर भाषण या ब्रेल ऑनस्क्रीन सूचना दें
Comment[hu]=A megjelenő információk átalakítása beszéddé vagy braille-kimenetté
Comment[it]=Fornisce le informazioni sullo schermo come parlato o braille
Comment[ja]=音声または点字で画面上の情報を提供します
Comment[kk]=Экрандағы ақпараттын бар болуы, оқу не braille
Comment[kn]=ಮಾತಾಗಿ ಅಥವ ಬ್ರೈಲ್‌ ಆಗಿ ತೆರೆಯ ಮೇಲೆ ಮಾಹಿತಿಯನ್ನು ತೋರಿಸು
Comment[ko]=화면의 정보를 음성이나 점자로 표시합니다
Comment[mai]=भाषण या ब्रेल रूपेँ आनस्क्रीन सूचना दिअ'
Comment[mk]=Претстави ги информациите на екранот на брајов екран или со говор
Comment[ml]=ഓണ്‍ സ്ക്രീന്‍ വിവരങ്ങള്‍ ഒരു സംഭാഷണം അല്ലെങ്കില്‍ ബ്രെയിലി ആയി ലഭ്യമാക്കുക
Comment[mr]=ऑन-स्क्रीन माहिती वाचा किंवा ब्रैल नुरूप प्रस्तुत करा
Comment[nn]=Legg fram informasjon på skjermen som tale eller blindeskrift
Comment[oc]=Presenta las informacions de l'ecran jos forma vocala o en braille
Comment[or]=ଅନ-ସ୍କ୍ରିନ ସୂଚନାକୁ ବାର୍ତ୍ତାଳାପ ଅଥବା ବ୍ରେଲି ଲିପିରେ ଉପସ୍ଥାପନ କରନ୍ତୁ
Comment[pl]=Wyświetlanie informacji na ekranie jako mowy lub Braille
Comment[pt]=Apresentar a informação do ecrã como locução ou braille
Comment[ro]=Prezintă informațiile de pe ecran prin sinteză vocală ori în sistem Braille
Comment[sk]=Poskytnúť informácie z obrazovky rečou alebo braillovým písmom
Comment[sq]=Paraqet informacione në ekran si shqiptimi ose braille
Comment[ta]=பேச்சு அல்லது brailleஆக தகவல் திரையில் தோன்றுகிறது
Comment[te]=తెరపైని సమాచారమును సంభాషణవలె గాని లేదా బ్రెయిలీవలె గాని సమర్పించుము
Comment[tr]=Konuşma ya da körler alfabesi olarak mevcut ekran bilgisini sun
Comment[ug]=ئېكراندىكى ئۇچۇرلارنى ئۇن ياكى ئەمالار يېزىقى شەكلىدە كۆرسىتىدۇ
Comment[uk]=Представляти інформацію на екрані як розмову або шрифтом Брайля
Comment[vi]=Trình bày thông tin trên màn hình dạng tiếng nói hoặc chữ nổi
Comment[zh_HK]=將螢幕上的資訊以語音或點字呈現
Comment[zh_TW]=將螢幕上的資訊以語音或點字呈現
TryExec=orca
Exec=orca --no-setup --disable main-window --disable splash-window --disable magnifier --enable speech --enable braille
Icon=orca
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;
AutostartCondition=GNOME /desktop/gnome/applications/at/screen_reader_enabled
X-GNOME-Provides=screen-reader
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=orca
X-GNOME-Bugzilla-Component=general

