<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>GNOME</vendor>
 <vendor_url>http://www.gnome.org</vendor_url>

 <action id="org.gnome.initial-setup.pkexec.install">
    <description>Copy account data</description>
    <message>Authentication is required to copy account data</message>
    <defaults>
     <allow_any>no</allow_any>
     <allow_inactive>no</allow_inactive>
     <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/install</annotate>
 </action>
</policyconfig>
