Source: gdm
Section: x11
Priority: optional
Maintainer: Ryan Murray <rmurray@debian.org>
Build-Depends: libpam0g-dev, libgnome-dev, libwrap0-dev, debhelper, automake, autoconf, gettext, libtool
Standards-Version: 3.1.1

Package: gdm
Architecture: any
Depends: ${shlibs:Depends}, libpam-modules (>= 0.72-1), xutils, adduser
Recommends: gnome-session
Suggests: xsm, locales
Conflicts: wdm, xdm, kdm
Description: GNOME Display Manager
 gdm provides the equivalent of a "login:" prompt for X displays- it
 pops up a login window and starts an X session.
 .
 It provides all the functionality of xdm, including XDMCP support for
 managing remote displays.
 .
 The greeting window is written using the GNOME libraries and hence
 looks like a GNOME application- even to the extent of supporting
 themes! By default, the greeter is run as an unprivileged user for
 security.
